* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    height: 101%;
}

body {
    color: #828282;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #484747;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #3e9aef;
}

.column img {
    margin: 10px 0px 15px 0px;
}

.left img {
    border: 1px solid #a0a0a0;
}

pre {
    background-color: #f5f5f5;
    margin: 10px 0px 10px 0px;
    font-size: 11px;
    color: black;
    padding: 10px;
    border-left: 1px solid #d0d0d0;
}

pre .keyword {
    color: #990000;
}

p {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 3px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding-left: 10px;
}

td, th {
    padding: 0px 5px 0px 5px;
}

input {
    margin: 0px;
    border: 1px solid #b0b0b0;
    padding: 3px;
    height: 20px;
    width: 265px;
    color: #828282;
}

.wrapper {
    margin: 0px auto;
    width: 999px;
    text-align: left;
}

.column {
    margin-top: 38px;
    padding: 0px 10px 0px 20px;
}

.middle img {
    float: right;
    clear: both;
}

.middle p {
    margin-bottom: 10px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.imgrep {
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 3px 0 10px 0;
    font-size: 1em;
    border-bottom: none;
    font-size: 0em;
    color: #FFFFFF;
    text-indent: -9999px;
}

#wrapwrap {
    background-color: #f5f5f5;
    background-image: url('img/header-background.png');
    background-repeat: repeat-x;
}

/* header, body, footer */
#header {
    height: 93px;
    padding: 20px;
    clear: both;
}

#header p {
    margin-left: 200px;
    width: 400px;
    font-size: 14px;
}

#header .indent {
    padding-top: 10px;
    padding-left: 220px;
}

#header h1 {
    height: 70px;
    background-image: url('img/geocommit-logo-full.png');
}

#body {
    clear: both;
    width: 999px;
}

#body .column {
    width: 303px;
    min-height: 432px;
}

#body .middle {
    float:left;
    background-image: url('img/column-separator.png');
    background-repeat: no-repeat;
}

#body .right {
    background-image: url('img/column-separator.png');
    background-repeat: no-repeat;
}

#footer {
    background-image: url('img/footer-background.png');
    background-repeat: repeat-x;
    height: 200px;
    clear: both;
    color: #b0b0b0;
}

#footer .right {
    background-image: url('img/footer-column-separator.png');
    background-repeat: no-repeat;
}

#footer .column {
    padding-top: 38px;
    margin-top: 0px;
    width: 423px;
}

#footer .column em,
#footer a:link,
#footer a:visited,
#footer a:active,
#footer a:hover {
    color: #e97600;
    font-style: normal;
}
/* Image */
#use {
    background-image: url('img/use.png');
    height: 14px;
}

#hooks {
    background-image: url('img/hooks.png');
    height: 15px;
}

#maps {
    background-image: url('img/maps.png');
    height: 15px;
}

#getting-involved {
    background-image: url('img/getting-involved.png');
    height: 18px;
}

#the-geocommit-format {
    background-image: url('img/the-geocommit-format.png');
    height: 19px;
}

#integrate {
    background-image: url('img/integrate.png');
    height: 19px;
}

#invite {
    margin: 5px;
    border: 0px;
    background-color: transparent;
    background-repeat: none;
    background-image: url('img/inviteme.png');
    width: 140px;
    height: 44px;
    float: right;
}

#interact {
    background-image: url('img/interact.png');
    height: 14px;
}

#clearing {
    clear: both;
}

#copyright {
    background-color: #111010;
    clear: both;
    font-size: 10px;
    padding: 13px;
}

#indicator {
    float: right;
    visibility: hidden; 
}
