/.installed.cfg
/bin/
/build/
/develop-eggs/
/dist/
/parts/
/src/geocommit.egg-info
/src/geocommit/provider/corelocation/geocommit
website/geocommit/src/geocommit/config.clj
website/geocommit/autodoc
website/geocommit/classes
website/geocommit/lib
website/geocommit/resources/WEB-INF
*~
*.swp

