[submodule "fetchservice/JavaBeanstalkClient"]
	path = fetchservice/JavaBeanstalkClient
	url = https://github.com/alaz/JavaBeanstalkClient.git
[submodule "fetchservice/scouchdb"]
	path = fetchservice/scouchdb
	url = https://github.com/naderman/scouchdb.git
