(ns geocommit.config)

(def *config* {:databases
	       {:invites "http://example.com/geocommit-web"
		:geocommits "http://example.com/geocommit"}
	       :api
	       {:fetchservice "http://fetchservice.example.com"
		:github "http://github.com/api/v2/json"}})

(defmacro get-config [& keys]
     `(-> ~*config* ~@keys))